@{
    ViewBag.Title = "Cá Koi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/styleindex.css" />
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Stylelayout.css" />
    <link rel="stylesheet" href="~/css/styleindex.css" />

</head>

@*<h2>Cá Koi Asagi</h2>*@
<div class="product">
    <h2>Cá Koi Asagi</h2>
    <img src="~/images/onkoi-asagi-30-cm-2-tuoi-012-600x600.jpg" alt="Cá Koi Asagi" />
    <div class="product-info">
        <div class="product-title">Người bán: Võ Hoàng Long</div>
        <div class="product-title">Mã số: #012</div>
        <div class="product-title">Tên: Cá Koi Asagi 2 năm tuổi</div>
        <div class="product-price">Tiền: 450,000 VNĐ</div>
        <div class="product-title">Nguồn gốc: DAINICHI</div>
        <div class="product-title">Kích thước: 60cm</div>
        <div class="product-title">Giới tính: Koi cái</div>
        <button class="buy-button">ĐẶT HÀNG NGAY</button>
    </div>
    <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
        <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
        <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
    </div>
</div>

<!-- CSS để thay đổi màu của nút -->
<style>
    .buy-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #3498db; /* Màu xanh da trời */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .buy-button:hover {
            background-color: #2980b9; /* Màu xanh đậm hơn khi hover */
        }
</style>