﻿@{
    ViewBag.Title = "Cá Koi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/styleindex.css" />
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Stylelayout.css" />
    <link rel="stylesheet" href="~/css/styleindex.css" />

</head>

@*<h2>Cá Koi Ogon</h2>*@
<div class="product">
    <h2>Cá Koi Ogon 1</h2>
    <img src="~/images/ogon1.jpg" alt="Cá Koi Ogon 1" />
    <div class="product-info">
        <div class="product-title">Người bán: Võ Hoàng Long</div>
        <div class="product-title">Mã số: #060</div>
        <div class="product-title">Tên: Cá Koi Ogon 1</div>
        <div class="product-price">Tiền: 350,000 VNĐ</div>
        <div class="product-title">Nguồn gốc: DAINICHI</div>
        <div class="product-title">Kích thước: 87cm</div>
        <div class="product-title">Giới tính: Koi cái</div>
        <button class="buy-button">ĐẶT HÀNG NGAY</button>
    </div>
    <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
        <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
        <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
    </div>
</div>

<div class="product">
    <h2>Cá Koi Ogon 2</h2>
    <img src="~/images/ogon2.jpg" alt="Cá Koi Kohaku 2" />
    <div class="product-info">
        <div class="product-title">Người bán: Võ Hoàng Long</div>
        <div class="product-title">Mã số: #062</div>
        <div class="product-title">Tên: Cá Koi Ogon 1</div>
        <div class="product-price">Tiền: 400,000 VNĐ</div>
        <div class="product-title">Nguồn gốc: DAINICHI</div>
        <div class="product-title">Kích thước: 80cm</div>
        <div class="product-title">Giới tính: Koi cái</div>
        <button class="buy-button">ĐẶT HÀNG NGAY</button>
    </div>
    <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
        <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
        <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
    </div>
</div>

<div class="product">
    <h2>Cá Koi Ogon 3</h2>
    <img src="~/images/ogon3.jpg" alt="Cá Koi Ogon 3" />
    <div class="product-info">
        <div class="product-title">Người bán: Võ Hoàng Long</div>
        <div class="product-title">Mã số: #056</div>
        <div class="product-title">Tên: Cá Koi Ogon 3</div>
        <div class="product-price">Tiền: 400,000 VNĐ</div>
        <div class="product-title">Nguồn gốc: DAINICHI</div>
        <div class="product-title">Kích thước: 91cm</div>
        <div class="product-title">Giới tính: Koi cái</div>
        <button class="buy-button">ĐẶT HÀNG NGAY</button>
    </div>
    <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
        <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
        <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
    </div>
</div>

<!-- CSS để thay đổi màu của nút -->
<style>
    .buy-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #3498db; /* Màu xanh da trời */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .buy-button:hover {
            background-color: #2980b9; /* Màu xanh đậm hơn khi hover */
        }
</style>
