@{
    ViewBag.Title = "Trang chủ";
        <link rel="stylesheet" href="~/css/styleindex.css" />
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/Stylelayout.css" />
    <link rel="stylesheet" href="~/css/styleindex.css" />


</head>
<div class="product-container">
    <div class="product">
        <img src="~/images/koi-tancho-052.jpg" alt="Cá Koi " />
        <div class="product-info">
            <div class="product-title">Cá Koi Tancho 1</div>
            <div class="product-price">300,000 đ</div>
            <button class="buy-button">ĐẶT HÀNG NGAY</button>
        </div>
        <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Người bán: OnKoi Quang Minh<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Năm sinh: </span>
            <span style="color: rgb(61, 42, 42); font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">2017<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Kích thước: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">84 cm<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Giống: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Cá koi Kohaku</span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">,</span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Cá koi Tancho<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
        </div>
    </div>
    <div class="product">
        <img src="~/images/onkoi-kohaku-94-cm-6-tuoi-057-600x600.jpg" alt="Cá Koi " />
        <div class="product-info">
            <div class="product-title">Cá Koi Kohaku 2</div>
            <div class="product-price">350,000 đ</div>
            <button class="buy-button">ĐẶT HÀNG NGAY</button>
        </div>
        <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Người bán: OnKoi Quang Minh<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Năm sinh: </span>
            <span style="color: rgb(61, 42, 42); font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">2015<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Kích thước: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">94 cm<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Giống: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Cá koi Kohaku<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
        </div>
    </div>
    <div class="product">
        <img src="~/images/KOI-SHOWA3.jpg" alt="Cá Koi 3" />
        <div class="product-info">
            <div class="product-title">Cá Koi Showa 3</div>
            <div class="product-price">400,000 đ</div>
            <button class="buy-button">ĐẶT HÀNG NGAY</button>
        </div>
        <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Người bán: OnKoi Quang Minh<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Năm sinh: </span>
            <span style="color: rgb(61, 42, 42); font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">2018<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Kích thước: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">78 cm<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Giống: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Cá koi Showa<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
        </div>
    </div>
    <div class="product">
        <img src="~/images/onkoi-karashi-101-cm-5-tuoi-600x600.jpg" alt="Cá Koi" />
        <div class="product-info">
            <div class="product-title">Cá Koi Karashi 5năm tuổi 101 cm</div>
            <div class="product-price">450,000 đ</div>
            <button class="buy-button">ĐẶT HÀNG NGAY</button>
        </div>
        <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Người bán: OnKoi Quang Minh<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Năm sinh: </span>
            <span style="color: rgb(61, 42, 42); font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">2016<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Kích thước: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">101 cm<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Giống: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Cá koi Karashi<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
        </div>
    </div>
    <div class="product">
        <img src="~/images/onkoi-karashi-5-tuoi-90-cm-010-600x600.jpg" alt="Cá Koi " />
        <div class="product-info">
            <div class="product-title">Cá Koi Karashi 5 năm tuổi 90cm</div>
            <div class="product-price">450,000 đ</div>
            <button class="buy-button">ĐẶT HÀNG NGAY</button>
        </div>
        <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Người bán: OnKoi Quang Minh<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Năm sinh: </span>
            <span style="color: rgb(61, 42, 42); font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">2016<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Kích thước: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">90 cm<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Giống: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Cá koi Karashi<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
        </div>
    </div>
    <div class="product">
        <img src="~/images/onkoi-asagi-30-cm-2-tuoi-012-600x600.jpg" alt="Cá Koi 6" />
        <div class="product-info">
            <div class="product-title">Cá Koi Asagi 60cm 2 năm tuổi</div>
            <div class="product-price">450,000 đ</div>
            <button class="buy-button">ĐẶT HÀNG NGAY</button>
        </div>
        <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Người bán: OnKoi Quang Minh<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Năm sinh: </span>
            <span style="color: rgb(61, 42, 42); font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">2018<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Kích thước: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">60 cm<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Giống: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Cá koi Asagi<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
        </div>
    </div>
    <div class="product">
        <img src="~/images/onkoi-asagi-70-cm-3-tuoi-011-600x600.jpg" alt="Cá Koi 7" />
        <div class="product-info">
            <div class="product-title">Cá Koi Asagi 70cm 3 năm tuổi</div>
            <div class="product-price">450,000 đ</div>
            <button class="buy-button">ĐẶT HÀNG NGAY</button>
        </div>
        <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Người bán: OnKoi Quang Minh<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Năm sinh: </span>
            <span style="color: rgb(61, 42, 42); font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">2018<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Kích thước: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">70 cm<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Giống: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Cá koi Asagi<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
        </div>
    </div>
    <div class="product">
        <img src="~/images/onkoi-gosshiki-75-cm-3-tuoi-014-600x600.jpg" alt="Cá Koi 6" />
        <div class="product-info">
            <div class="product-title">Cá Koi Gosshiki 75cm 3 năm tuổi </div>
            <div class="product-price">450,000 đ</div>
            <button class="buy-button">ĐẶT HÀNG NGAY</button>
        </div>
        <div class="NgIBNOnkoiQuangMinhNMSinh2017KChThC84CmGiNgCKoiKohakuCKoiTanchoNguNGCDainichiKoiFarm" style="width: 100%">
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Người bán: OnKoi Quang Minh<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Năm sinh: </span>
            <span style="color: rgb(61, 42, 42); font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">2018<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Kích thước: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">75 cm<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Giống: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Cá koi Gosshiki<br /></span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nguồn gốc: </span>
            <span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Dainichi Koi Farm</span>
        </div>
    </div>

</div>