
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = "~/wwwroot/css/Stylelayout.css";
    <link rel="stylesheet" href="~/css/Stylelayout.css" />
}

<body>

    <div class="breadcrumb">
        <a href="/"> Trang chủ </a>> Đăng nhập
    </div>
    <div class="TrangChu">
        <div class="login-container">
            <div class="login-box">
                <div class="login-title">ĐĂNG NHẬP</div>
                <form>
                    <div class="user-role">
                        <label>
                            <input type="radio" name="role" value="guest" required />
                            I am Customer
                        </label>
                        <label>
                            <input type="radio" name="role" value="customer" required />
                            I am Staff
                        </label>
                        <label>
                            <input type="radio" name="role" value="guest" required />
                            I am Guest
                        </label>
                        <label>
                            <input type="radio" name="role" value="admin" required />
                            I am Manager
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="username">Tên đăng nhập</label>
                        <input type="text"
                               class="form-control"
                               id="username"
                               placeholder="Nhập tên đăng nhập"
                               required />
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="Nhập mật khẩu"
                               required />
                    </div>
                    <button type="submit" class="btn-login">Đăng Nhập</button>
                </form>
                <div style="text-align: center; margin-top: 15px">
                    <p>
                        Bạn không có tài khoản?
                        <a href="register.html" style="color: #b85c5c">Đăng ký ngay</a>
                    </p>
                    <p><a href="#" style="color: #b85c5c">Quên mật khẩu?</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
