
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb">
    <a href="/"> Trang chủ </a>> Sản phẩm </a>> Koi kí gửi
</div>
<!-- Main Content Section -->
<div class="content">
    <h1>Kí gửi</h1>
    <p>
        99% người nuôi cá Koi đều mong muốn cá của mình được "gả" vào gia đình tốt, 
        đảm bảo cuộc sống tương lai. Một số người chỉ nuôi Koi bằng đam mê mà không đủ
        quan hệ rộng để trao đổi, bán các em Koi đẹp. Do đó, OnKoi – Quang Minh áp dụng
        chính sách gửi cá Koi – Bán cá Koi hột.
    </p>
    <p>
        Tuy nhiên, họ có những nguyên tắc và quy trình nghiêm ngặt, đảm bảo bán những em 
        Koi đúng giá trị tới những người đam mê nuôi Koi.
    </p>
    <h2>Quy trình kí gửi cá Koi</h2>
    <p>
        Có 2 cách chính để ký gửi cá Koi:
    </p>
    <p>
        Ký gửi cá Koi offline: Người cần ký gửi cung cấp thông tin Koi cần ký gửi bằng hình
        ảnh, video, giấy chứng nhận...
    </p>
    <p>
        Ký gửi cá Koi online: Người cần ký gửi đã có thông tin, hình ảnh, video, giấy chứng
        nhận chi tiết của Koi cần ký gửi đăng tải trên hệ thống website/phần mềm lưu trữ thông
        tin.
    </p>
    <h3>Lưu ý</h3> 
    <p>
        Ký gửi cá Koi Offline phù hợp với người nuôi Koi chưa có website và chưa có phần mềm quản
        lý dữ liệu Koi chuyên nghiệp. Các khách hàng này thường chỉ đam mê nuôi Koi, tham gia các 
        hội Koi trên diễn đàn xã hội. Ký gửi Koi để muốn nâng cấp Koi khác, thay đổi kế hoạch cá 
        nhân.
    </p>
    <p>
        Ký gửi Koi Online là những người nuôi Koi để kinh doanh, có hệ thống website và phần mềm 
        dữ liệu (mức độ chuyên nghiệp tùy quy mô). Cần mở rộng mạng lưới khách hàng nên mang ký 
        gửi tại các Koi Farm lớn.
    </p>
    <h4> Phương pháp kí gửi</h4>
    <p>
        dù áp dụng phương pháp ký gửi nào cũng phải thực hiện đúng quy trình dưới đây:
    </p>
    <p>
        Bước 1: Chụp ảnh chi tiết cá Koi cần ký gửi, cung cấp video thể hiện tình trạng của cá Koi.
    </p>
    <p>
        Bước 2: Cung cấp thông tin về tên, tuổi, giới tính, nguồn gốc, chủng loại, tính cách, lượng 
        thức ăn/ngày. Các bệnh đã từng bị (nếu có). Cung cấp giấy chứng nhận.
    </p>
    <p>
        Bước 3: OnKoi - Quang Minh trực tiếp đến kiểm tra cá Koi (nếu thấy cần thiết).
    </p>
    <p>
        Bước 4: 2 bên thương thảo hợp đồng ký gửi dựa trên mong muốn, yêu cầu, mức giá ký gửi khách
        hàng đưa ra.
    </p>
    <p>
        Bước 5: Ký hợp đồng ký gửi (nếu thành công). Kể từ khi ký gửi thành công, khách hàng phải 
        đảm bảo sức khỏe mạnh như cam kết.
    </p>
    <p>
        Bước 6: Khi OnKoi - Quang Minh tìm được người có nhu cầu mua, hỗ trợ trực tiếp khách đến xem 
        cá. Chờ đến khi chốt xong mua cá hay không.
    </p>
    <p>
        Bước 7: Cả bản thành công. Hợp đồng ký gửi kết thúc. Khách chịu trách nhiệm với người mua 
        cá Koi về chất lượng, chế độ bảo hành cá sau này.
    </p>
    <h5> Chính sách kí gửi cá Koi</h5>
    <p>
        Thứ nhất: Chỉ nhận Koi khỏe mạnh, không bệnh tật, đủ phẩm chất, có giá trị. Kích thước tùy 
        tùng động (không nhận koi baby, koi mini, koi giống), trung bình từ 35 - 90 cm.
    </p>
    <p>
        Thứ 2: Koi phải có giấy chứng nhận, ưu tiên các Koi thuần chủng tại Nhật Bản. Có nguồn 
        gốc từ các Koi Farm lớn tại Nhật.
    </p>
    <p>
        Thứ 3: Khách hàng ký gửi chịu hoàn toàn trách nhiệm về chất lượng Koi, giấy chứng nhận Koi, 
        tuổi Koi, sức khỏe Koi.
    </p>
    <p>
        Thứ 4: Chúng tôi cam kết cung cấp thông tin về tình trạng Koi của bên trung thực, đầy đủ.
        Hỗ trợ, hướng dẫn khách hàng muốn mua Koi chi tiết, cụ thể, giúp Koi có cuộc sống tốt nhất 
        trong tương lai.
    </p>
    <p>
        Thứ 5: Hỗ trợ định giá lại giá trị của Koi dựng với thực tế thị trường, nhu cầu của khách.
    </p>
    <p>
        Thứ 6: Chi phí ký gửi hợp lý, phù hợp với giá trị Koi.
    </p>
    <p>
        Thứ 7: Tất cả các khách ký gửi Koi phải thực hiện đúng theo quy trình như trên.
    </p>
    <h6> Ý nghĩa của việc kí Gửi</h6>
    <p>
        Phổ biến tại Nhật Bản: Đây là dịch vụ rất phổ biến tại Nhật Bản. Khách mua Koi 
        1 em nhưng vì 1 lý do nào đó không thể đưa em đó về nuôi, khách ký gửi tại hộ nuôi.
        Phổ biến hơn là khách có Koi cần bán, nhưng mạng lưới bán hàng không lớn, người nuôi 
        Koi đưa Koi đến hộ nuôi, Koi farm lớn hơn ký gửi. Tại Nhật, chi phí ký gửi Koi thường
        khá lớn. Bao gồm nhiều các điều khoản ràng buộc, bồi thường.
    </p>
    <p>
        Bắt đầu nở rộ tại Việt Nam: Người chơi Koi muốn nâng cấp Koi, mở rộng hồ Koi, đàn Koi... 
        nhưng không đủ năng lực tìm người muốn mua Koi của mình. Vì vậy, họ tìm đến các dịch vụ
        ký gửi tại các Koi Farm lớn, có hộ nuôi chuyên nghiệp, được đông đảo người chơi Koi biết đến.
    </p>
    <h7>On Koi-Quang Minh</h7>
    <p>
        OnKoi - Quang Minh là trang trại cá Koi với hệ thống hồ nuôi chuyên nghiệp, nằm gần trung tâm 
        Hà Nội. Họ nuôi được thiết kế theo phong cách thủy cung có đường xuống ngắm cá Koi trong hồ. 
        Chủ hồ nuôi là những người có đam mê Koi thực thụ, chuyên viên phụ trách hồ Koi là Kỹ sư Thủy 
        Sản được đào tạo bài bản.Hệ thống marketing, truyền thông lớn, được đông đảo người chơi Koi biết
        đến.
    </p>
    <h8>Chúng tôi cam kết</h8>
    <p>
        100% giống F0 và F1 có nguồn gốc từ những trại nổi tiếng như Daihichi Koi Farm.
    </p>
    <p>
        Koi đã được sàng lọc và tuyển chọn kỹ theo tỷ lệ 300/10000 con (chỉ chọn 300 con trong 10.000 con).
    </p>
    <p>
        Cung cấp đầy đủ kiến thức chăm sóc Cá Koi, kỹ thuật chăm sóc, thiết kế thi công hồ nuôi trước khi 
        bán các em Koi cho quý vị.
    </p>
    <p>
        Chỉ bán các em Koi chất lượng, đảm bảo cuộc sống tốt nhất cho em Koi trong tương lai.
    </p>
    <p>
        Cách thiết kế và xây dựng hồ cá Koi chuẩn 100%, cách nuôi và chăm sóc cá Koi, xử lý khi cá bị bệnh...
    </p>
    <h9>Lưu ý Đối với Koi baby, cần đảm bảo khách KHÔNG CÓ TƯƠNG LAI, không vọt, không lên màu, body chuẩn</h9>
    <p>
        Sẵn sàng cung cấp đầy đủ hình ảnh, video chi tiết từng chi tiết nhỏ và nguồn gốc xuất xứ của từng em
        Koi trước khi khách quyết định mua.
    </p>
    <p>
        Cam kết bồi thường đến bù gấp 10 lần giá trị cá.
    </p>
    <h10>Về bảo hàng Koi</h10>
    <p>
        Nếu khách tự làm hỏng, tự mua tự thả, được bảo hành từ 2-5 ngày.
    </p>
    <p>
        Đối với khách có hộ đạt chuẩn, được đầu tư có bài bản hệ thống đã thả cá ổn định, chúng tôi sẵn sàng 
        bảo hành Koi dài hạn.
    </p>
    <p>
        Tư vấn miễn phí các bệnh về Koi.
    </p>