
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb">
    <a href="/"> tin tức  </a>> Khuyến mại
</div>
<!-- Main Content Section -->
<div class="content">
    <h1>Khuyến mại</h1>
    <p>
        sale 80% cho các bạn FA
    </p>
