
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .breadcrumb a {
        text-decoration: none;
    }
</style>
<div class="breadcrumb">
    <a href="/Home/Index"> Trang chủ </a>> Tin tức
</div>
<style>
    .container {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
    }

        .container a {
            text-decoration: none;
        }
</style>
<!-- Main Content Section -->
<div class="container">
    <h1>Giới thiệu</h1>
    <p>
        Công ty OnKoi – Quang Minh được thành lập vào năm 2007, là một công ty
        lâu đời trong lĩnh vực cung cấp cá Koi Nhật Bản và tư vấn thiết kế, thi
        công hồ cá Koi. Với tên gọi mang ý nghĩa “đoàn kết giữa Nhật Bản và Việt
        Nam”, Onkoi Quang Minh mong muốn sẽ lan tỏa tình yêu đối với cá Koi đến
        tất cả những người đã, đang và chuẩn bị chơi cá Koi. Sau hơn 10 năm xây
        dựng và phát triển, Onkoi Quang Minh đã định hình các lĩnh vực kinh
        doanh chính để hiện thực hóa sứ mệnh của mình đó là: cung cấp cá Koi
        Nhật Bản, thiết kế-thi công hồ nuôi cá Koi, phân phối thức ăn cho cá
        Koi, kinh doanh vật tư thiết bị cho hồ cá Koi.
    </p>
    <h2>Lịch sử phát triển</h2>
    <p>
        Công ty Onkoi Quang Minh được thành lập bắt đầu từ năm 2007, khi thị
        trường chơi Koi Nhật tại Việt Nam vẫn trong giai đoạn sơ khai, phần lớn
        là chơi theo sở thích và vẫn chưa nở rộ bởi cá Koi Nhật khá đắt đỏ và
        kén người chơi nên có thể nói, với hơn 10 năm kinh doanh uy tín và phát
        triển, Onkoi Quang Minh là một trong số ít đơn vị, cá nhân đi đầu trong
        lĩnh vực phân phối Koi Nhật Bản chính hiệu. . Ở thời điểm này, đội ngũ
        nhân viên của đơn vị chỉ đạt một con số khiêm tốn khoảng 10 người. Sau
        một thời gian phát triển mạnh mẽ, số lượng nhân viên hoạt động tại đơn
        vị đã lên đến con số trên 50 người.
    </p>
    <p>
        Khởi đầu công ty là một hồ Koi nhỏ do cá nhân anh Đào Văn Quang- Giám
        đốc Công ty Onkoi Quang Minh chính tay chăm sóc, tự chính anh học hỏi và
        thiết kế hồ Koi theo hướng dẫn từ bạn bè anh tại Nhật Bản. Sau đó, anh
        cũng trực tiếp sang Nhật Bản để tham gia học hỏi cách chọn Koi đẹp và
        chuẩn về nuôi.Những chú cá Koi này vẫn đang sinh sống trong hồ của gia
        đình anh Quang tại Hà Nội.
    </p>
    <p>
        Ban đầu, mục đích chính của anh Đào Văn Quang chỉ chơi Koi giống như thú
        vui để giúp anh giảm stress, thư giãn và suy nghĩ về công việc kinh
        doanh. Nhưng hiện nay, nhận thấy sức hút của dân chơi đông, nhu cầu lớn
        nên anh đã nhập trực tiếp cá từ Nhật về mở trại nuôi kinh doanh. Giá cả
        từ bình dân đến cao cấp, đáp ứng nhu cầu cả số đông lẫn dân chơi cá Koi
        quý tộc. Trang trại Koi có diện tích rộng lớn với cách thiết kế theo
        tiêu chuẩn để đảm bảo Koi luôn phát triển trong điều kiện tốt nhất, được
        Koi là “Showroom Koi” của khu vực phía Bắc
    </p>
    <p>
        Định hướng trong tương lai, Onkoi Quang Minh sẽ đưa đơn vị trở thành
        doanh nghiệp số 1 trên thị trường phân phối Koi Nhật Bản và thi công hồ
        cá Koi. Song song đó, đơn vị còn hướng đến việc phát triển nhiều loại
        hình dịch vụ hơn nữa để phục vụ người dùng. Tuy nhiên, giá thành sẽ được
        công ty cắt giảm xuống mức thấp nhất nhằm bảo vệ túi tiền khách hàng.
    </p>
    <h3>Cơ cấu tổ chức của Công ty Onkoi Quang Minh</h3>
    <dl>
        <dt>- Điều hành công ty</dt>
        <p>Giám đốc Đào Văn Quang: Đây là công ty được hoạt động theo mô hình Công ty Trách nhiệm hữu hạn, do chủ sở hữu nắm quyền là ông Đào Văn Quang- là người điều hành và giám sát tất cả mọi hoạt động kinh doanh hàng ngày của công ty.</p>
        <dt>
            - Đội ngũ nhân viên:
        <dt>
        <dd>+ Nhân viên Marketing</dd>
        <dd>+ Nhân viên Thiết kế đồ họa</dd>
        <dd>+ Nhân viên Content</dd>
        <dd>+ Nhân viên Sale</dd>
        <dd>+ Nhân viên xuất nhập hàng</dd>
        </dt>
        </dt>
    </dl>
    <p></p>
</div>
